In [2]:
!pip install pyexasol

Requirement already satisfied: pyexasol in c:\users\ra1507\anaconda3\lib\site-packages (0.14.3)
Requirement already satisfied: rsa in c:\users\ra1507\anaconda3\lib\site-packages (from pyexasol) (4.6)
Requirement already satisfied: websocket-client>=0.47.0 in c:\users\ra1507\anaconda3\lib\site-packages (from pyexasol) (0.57.0)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\ra1507\anaconda3\lib\site-packages (from rsa->pyexasol) (0.4.8)
Requirement already satisfied: six in c:\users\ra1507\anaconda3\lib\site-packages (from websocket-client>=0.47.0->pyexasol) (1.15.0)

In [3]:
import pandas

In [4]:
def connect_exasol(query):
    import pyexasol
    C=pyexasol.connect(dsn="Hostname",user="username",password="password")
    return (C.export_to_pandas(query))

In [15]:
query="select column AS col from tablename"

In [16]:
df=connect_exasol(query)

In [17]:
print(df)

         SUPLIER
0       91012578
1       91012578
2       91012578
3       91012578
4       91012578
...          ...
357524  92054593
357525    600092
357526    600092
357527    600092
357528  92055970

[357529 rows x 1 columns]